footer{
    background-color: #464547;
    padding: 20px 140px;
}


footer div:nth-of-type(1){
    display: flex;   
}
footer img{
    max-width: 20px;
}
footer div:nth-of-type(1) h2 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 2px 0 0 15px;
}
footer div, footer div a {
    font-size: 1.6rem;
    font-family: Source Sans Pro;
    font-style: normal;
    margin-top: 15px;
    font-weight: 400;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
}
