header{
    background-image: url('/assets/headerbackground.png');
    background-size:cover;
    background-position: center;
}

.headline{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 180px 0 255px 0;
}
.headline img{
    max-width: 65px;
}
.headline h1{
    color: #FFFFFF;
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 4.8rem;
    line-height: 64px;
    text-align: center;
}
.headline h2 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    font-size: 2.4rem;
    line-height: 32px;
    margin-top: 40px;
    color: rgba(255, 255, 255, 0.7);
    opacity: 70%;   
}
